/* Style Guide for Unpath'd Waters */

$font-heading:  lust-text, serif;
$font-body:     "Open Sans", sans-serif;

$color-blue:    #1d628c;
$color-orange:  #9e5846;
$color-green:   #63705b;
$color-black:   #06141c;

$color-brand-primary: $color-blue;
$color-brand-secondary: $color-orange;