/* Style Guide for Unpath'd Waters */

$font-heading:  lust-text, serif;
$font-body:     "Open Sans", sans-serif;

$e-global-color-primary: #1D628C;
$e-global-color-secondary: #9E5846;
$e-global-color-text: #06141C;
$e-global-color-accent: #1D628C;
$e-global-color-654c97b: #63705B;
$e-global-color-fada762: #4A6872;
$e-global-color-d20addd: #923A34;
$e-global-color-a7c92e3: #2881BB;
$e-global-color-ea3fd8c: #D1CBBB;

$color-blue:    #1d628c;
$color-orange:  #9e5846;
$color-green:   #63705b;
$color-black:   #06141c;

$color-brand-primary: $color-blue;
$color-brand-secondary: $color-orange;